:root[class*="dark"] {
    color-scheme: dark;
    --primary-color-default:rgb(var(--primary));
    --primary-color-inverse-default:rgb(var(--gray-900));
    --body-bg:rgb(var(--surface-950));
    --body-text-color:rgb(var(--surface-50));
    --selection-bg:rgb(var(--primary-400)/.2);
    --selection-text-color:rgb(var(--primary-200));
    --header-text-color:rgb(var(--surface-0));
    --topbar-sticky-bg:rgba(0,0,0,.3);
    --topbar-item-bg: rgb(var(--surface-900));
    --card-border: 1px solid transparent;
    --card-bg: rgb(var(--surface-900));
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center -25px, rgb(var(--primary-500)) 0%, #000000 100%);
    --glow-blend: hard-light, color-dodge;
    --root-menuitem-text-color: rgb(var(--surface-0));
    --root-menuitem-icon-color: rgb(var(--surface-200));
    --root-menuitem-toggle-icon-color: rgb(var(--surface-200));
    --root-menuitem-toggle-icon-hover-color: rgb(var(--surface-0));
    --menuitem-category-text-color: rgb(var(--surface-0));
    --child-menuitem-text-color: rgb(var(--surface-200));
    --child-menuitem-text-hover-color: rgb(var(--surface-0));
    --mobile-menu-bg: rgba(0,0,0,.3);
    --demo-code-bg: rgb(var(--surface-900));
    --demo-code-button-color: rgb(var(--surface-500));
    --demo-code-button-hover-bg: rgba(255,255,255,.1);
    --demo-code-button-hover-color: rgb(var(--surface-200));
    --doc-highlight-text-bg: rgb(var(--primary-400) / 0.16);
    --doc-highlight-text-color: rgba(255, 255, 255, 0.87);
    --doc-tab-header-color: rgb(var(--surface-200));
    --focus-ring: 0 0 0 0.2rem rgb(var(--primary-400)/.2);
    --news-bg:rgb(var(--primary-600));
    --news-text-color:#ffffff;
    --news-link-color:#ffffff;
    --news-close-hover-bg:rgba(255,255,255,.2);
    --border-color:rgb(var(--surface-700));
    --border-hover-color:rgb(var(--surface-400));

    --docsearch-searchbox-focus-background: rgb(var(--surface-900));
    --docsearch-text-color: rgb(var(--surface-50));
    --docsearch-muted-color: rgb(var(--surface-50));
    --docsearch-searchbox-background: rgb(var(--surface-900));
    --docsearch-text-color: rgb(var(--surface-50));
    --docsearch-modal-background: rgb(var(--surface-900));
    --docsearch-key-gradient: rgb(var(--surface-950));
    --docsearch-key-shadow: none;
    --docsearch-container-background: rgba(0, 0, 0, 0.4);
    --docsearch-hit-background: rgb(var(--surface-900));
    --docsearch-hit-shadow: none;
    --docsearch-spacing: 1rem;
    --docsearch-hit-color: rgb(var(--surface-50));
    --docsearch-highlight-color: var(--primary);
    --docsearch-hit-active-color: var(--primary-color-inverse-default);

    
}