:root {
    color-scheme: light;
    --primary-color-default:rgb(var(--primary-600));
    --primary-color-inverse-default:rgb(var(--surface-0));
    --body-bg:rgb(var(--surface-50));
    --body-text-color:rgb(var(--surface-900));
    --selection-bg:rgb(var(--primary-50));
    --selection-text-color:rgb(var(--primary-700));
    --header-text-color:rgb(var(--surface-900));
    --topbar-sticky-bg:rgba(255,255,255,.7);
    --topbar-item-bg: rgb(var(--surface-0));
    --card-border: 1px solid var(--border-color);
    --card-bg: rgb(var(--surface-0));
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center top,rgb(var(--primary-100)) 0%, #ffffff 100%);
    --glow-blend: hard-light, multiply;
    --root-menuitem-text-color: rgb(var(--surface-900));
    --root-menuitem-icon-color: rgb(var(--surface-700));
    --root-menuitem-toggle-icon-color: rgb(var(--surface-700));
    --root-menuitem-toggle-icon-hover-color: rgb(var(--surface-900));
    --menuitem-category-text-color: rgb(var(--surface-900));
    --child-menuitem-text-color: rgb(var(--surface-700));
    --child-menuitem-text-hover-color: rgb(var(--surface-900));
    --mobile-menu-bg: rgb(var(--surface-0));
    --demo-code-bg: rgb(var(--surface-700));
    --demo-code-button-color: rgb(var(--surface-300));
    --demo-code-button-hover-bg: rgba(255,255,255,.1);
    --demo-code-button-hover-color: rgb(var(--surface-100));
    --doc-highlight-text-bg: rgb(var(--primary-500)/.2);
    --doc-highlight-text-color: rgb(var(--primary-900));
    --doc-tab-header-color: rgb(var(--surface-700));
    --focus-ring: 0 0 0 0.2rem rgb(var(--primary-200));
    --news-bg:rgb(var(--primary-600));
    --news-text-color:#ffffff;
    --news-link-color:#ffffff;
    --news-close-hover-bg:rgba(255,255,255,.2);
    --border-color:rgb(var(--surface-200));
    --border-hover-color:rgb(var(--surface-500));

    --docsearch-searchbox-focus-background: rgb(var(--surface-0));
    --docsearch-text-color: rgb(var(--surface-900));
    --docsearch-muted-color: rgb(var(--surface-900));
    --docsearch-searchbox-background: rgb(var(--surface-0));
    --docsearch-text-color: rgb(var(--surface-900));
    --docsearch-modal-background: rgb(var(--surface-0));
    --docsearch-key-gradient: rgb(var(--surface-0));
    --docsearch-key-shadow: none;
    --docsearch-container-background: rgba(0, 0, 0, 0.4);
    --docsearch-hit-background: rgb(var(--surface-0));
    --docsearch-hit-shadow: none;
    --docsearch-spacing: 1rem;
    --docsearch-hit-color: rgb(var(--surface-900));
    --docsearch-highlight-color: var(--primary-color-default);
    --docsearch-hit-active-color: var(--primary-color-inverse-default);
}