.DocSearch-Button {
    border-radius: 0.375rem;
    border: 1px solid rgb(var(--surface-100));
    height: 2rem;
    background-color: rgb(var(--surface-0));
    margin: 0;
    transition: all .3s;
    padding: 0 .5rem;
    @include focus-visible();

    &:hover {
        border-color: rgb(var(--primary-500));
    }

    &:hover {
        border-color: rgb(var(--primary-500));
        box-shadow: none;
    }

    .DocSearch-Search-Icon {
        width: 1rem;
        height: 1rem;
    }

    .DocSearch-Button-Keys {
        overflow: hidden;
        min-width: auto;
        height: auto;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 0;
        gap: 2px;

        .DocSearch-Button-Key {
            background: transparent;
            display: flex;
            padding: 0;
            margin: 0;
            top: 0;
            border-radius: 0;
            height: auto;
            width: auto;
            font-family: var(--font-family);

            &:first-child {
                font-size: 0.75rem;
                line-height: normal;
            }

            &:last-child {
                justify-content: start;
                align-items: center;
                font-size: 0.75rem;
                position: relative;
                
                &::before {
                    content: "\e90d";
                    display: flex;
                    color: rgb(var(--surface-900));
                    font-family: "primeicons";
                    font-size: .4rem;
                    opacity: .7;
                    margin-right: 2px;
                    height: 13.5px;
                    align-items: center;
                    font-weight: 700;

                }
            }
        }        
    }
}

.DocSearch-Container {
    z-index: 1101;
}

.DocSearch-Modal {
    border: 1px solid rgb(var(--surface-100));
    box-shadow: none;
}

.DocSearch-Footer {
    box-shadow: none;
    border-top: 1px solid rgb(var(--surface-100));
    background-color: rgb(var(--surface-50));
}

.DocSearch-Form {
    background: rgb(var(--surface-0));
    box-shadow: none;
    border: 1px solid rgb(var(--surface-100));
    border-radius: 0.375rem;
    transition: border-color .3s;

    &:hover {
        border-color: rgb(var(--primary-500));
    }

    .DocSearch-MagnifierLabel, .DocSearch-Reset {
        color: rgb(var(--surface-900));
    }
}

.DocSearch-Hit {
    border-bottom: 1px solid rgb(var(--surface-100));
    padding-bottom: 0;
    margin-bottom: .25rem;
}

.DocSearch-Hit-source {
    color: rgb(var(--primary-500));
}

.DocSearch-Logo .cls-1, .DocSearch-Logo .cls-2 {
    fill: rgb(var(--primary-500));
}

.DocSearch-Prefill {
    color: rgb(var(--primary-500));
}

.DocSearch-Button-Placeholder {
    text-align: center;
    display: inline-block;
    font-size: .875rem;
}

:root {
    --docsearch-searchbox-focus-background: rgb(var(--surface-0));
    --docsearch-text-color: rgb(var(--surface-900));
    --docsearch-muted-color: rgb(var(--surface-900));
    --docsearch-searchbox-background: rgb(var(--surface-0));
    --docsearch-text-color: rgb(var(--surface-900));
    --docsearch-modal-background: rgb(var(--surface-50));
    --docsearch-key-gradient: rgb(var(--surface-0));
    --docsearch-key-shadow: none;
    --docsearch-container-background: var(--maskbg);
    --docsearch-hit-background: rgb(var(--surface-50));
    --docsearch-hit-shadow: none;
    --docsearch-spacing: 1rem;
    --docsearch-hit-color: rgb(var(--surface-900));
    --docsearch-highlight-color: rgb(var(--primary-500));
    --docsearch-hit-active-color: var(--primary-color-text);
}

