.layout-footer {
    padding: 2rem 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
    color: var(--text-800);
    border-top: 1px solid var(--border-color);

    a {
        color: var(--primary-color-default);
        font-weight: 700;
        transition: all .2s;
        border-radius: 0.375rem;

        @include focus-visible();

        &:hover {
            text-decoration: underline;
        }
        
    }
}