:root {
    --p-primary-50: 236 253 245;
    --p-primary-100: 209 250 229;
    --p-primary-200: 167 243 208;
    --p-primary-300: 110 231 183;
    --p-primary-400: 52 211 153;
    --p-primary-500: 16 185 129;
    --p-primary-600: 5 150 105;
    --p-primary-700: 4 120 87;
    --p-primary-800: 6 95 70;
    --p-primary-900: 4 78 56;
    --p-primary-950: 2 44 34;
    --p-surface-0: 255 255 255;
    --p-surface-50: 250 250 250;
    --p-surface-100: 244 244 245;
    --p-surface-200: 228 228 231;
    --p-surface-300: 212 212 216;
    --p-surface-400: 161 161 170;
    --p-surface-500: 113 113 122;
    --p-surface-600: 82 82 91;
    --p-surface-700: 63 63 70;
    --p-surface-800: 39 39 42;
    --p-surface-900: 24 24 27;
    --p-surface-950: 9 9 11;
    --p-content-border-radius: 6px;
}